@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
  --green: #54af33;
  --white: #ffffff;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --green: #54af33;
    --white: #ffffff;
    --black: #000000;
  }
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
  background-color:white;
  overflow-x: hidden;
}

@layer components {
  .sections {
    margin: 2.5%;
    margin-top: 0;
    margin-bottom: 0;
    height: 500px;
    width: 100%;
    /* background-color: #000000; */
  }
}
