/* Custom arrow styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.custom-arrow::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.custom-next-arrow::before {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.custom-prev-arrow::before {
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.custom-next-arrow {
  right: 10px;
}

.custom-prev-arrow {
  left: 10px;
}